# Core application framework
streamlit

# Data manipulation - Locked for TF compatibility
numpy<2.0.0
pandas

# Plotting and visualization
matplotlib

# Machine Learning framework - The specific version needed
tensorflow==2.13.0

# Helpers for scientific data
scipy
h5py