#Core application framework
streamlit==1.54.0

#Data manipulation and mathematical operations
numpy
pandas

#Plotting and visualization
matplotlib

#Machine Learning framework
tensorflow
h5py

#Specific Dependency rules
typing-extensions<4.6.0

scipy
